:root {
  --primary: #6eccc6;
}

.btn {
  padding: 8px 20px;
  border-radius: 2px;

  cursor: pointer;
}
.btn--primary {
  background-color: var(--primary);
  color: #232323;
  border: 1px solid var(--primary);
}

.btn--outline {
  text-decoration: none;
  background-color: transparent;
  color: #6eccc6;
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 20px;
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}

.btn--medium:hover,
.btn--large:hover {
  background: #fff;
  color: #232323;
  transition: all 0.35s ease-out;
}
