input[type=text] {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 40%;
}

.notification {
  background-color: rgba(85, 85, 85, 0);
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  position: relative;
  display: inline-block;
  border-radius: 50%;
}


.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: rgb(228, 71, 71);
  color: white;
}


.globe {
  background-color: rgba(85, 85, 85, 0);
  color: white;
  text-decoration: none;
  padding: 0px 0px;
  position: relative;
  display: inline-block;
  border-radius: 50%;
}

.avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 70px;
  border-width: 2px;
}
.globeimg {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-width: 2px;
}

.notifimg{
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-width: 2px;
}

