body {
  background-image: url("../../images/2.jpg");
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 38px;
}

input[type="text"] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 15px;
  background-color: rgb(255, 249, 249);
  color: rgb(10, 10, 10);
  font-family: Arial, Helvetica, sans-serif;
}

input[type="date"] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 15px;
  background-color: rgb(255, 249, 249);
  color: rgb(10, 10, 10);
  font-family: Arial, Helvetica, sans-serif;
}

input[type="number"] {
  width: 10%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 15px;
  background-color: rgb(255, 249, 249);
  color: rgb(10, 10, 10);
  font-family: Arial, Helvetica, sans-serif;
}

input[type="submit"] {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 8px 0;
  /* cursor: pointer; */
  border-radius: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 22px;
}

input[type="reset"] {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 8px 0;
  /* cursor: pointer; */
  border-radius: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 22px;
}

input[type="checkbox"] {
  background-color: rgb(202, 183, 183);
  border: none;
  color: black;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 1px 0;
  /* cursor: pointer; */
  border-radius: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 22px;
  margin-right: 10px;
}

select {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  color: rgb(10, 10, 10);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  background-color: antiquewhite;
  border-style: hidden;
  border-radius: 15px;
  padding: 18px;
  text-align: left;
  box-shadow: 0 8px 6px -6px black;
}

@media screen and (max-width: 900px) {
  .main-contianer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

label {
  margin: 15px;
  width: 180px;
  clear: left;
  text-align: left;
  padding-right: 10px;
  padding-left: 40px;
}

br {
  display: block;
  margin: 10px 0;
  line-height: 22px;
}
